@import url('https://fonts.googleapis.com/css?family=Outfit');
/* Manrope, Ubranist, Rubik */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Outfit', sans-serif;
}

:root {
   /* --text: #0b0f19;
   --background: #f8f8f8;
   --primary: #82a7f8;
   --secondary: #d1daeb;
   --accent: #4766a9;
   --footer: #e5e5e5; */

   --text: #e3e9ed;
   --background: #050709;
   --primary: #acc1d0;
   --secondary: #1b1f24;
   --accent: #2f5976;
   /* 2f5976 */
   /* --text: #e3e9ed;
   --background: #050709;
   --primary: #acc1d0;
   --secondary: #1b1f24;
   --accent: #4d97cc; */
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
}

body {
   background: var(--background);
   color: var(--text);
}

section {
   min-height: 100vh;
   padding: 10rem 9% 2rem;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 4rem 9%;
   background: var(--background);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.logo {
   font-size: 2.5rem;
   color: var(--text);
   font-weight: 600;
   cursor: default;
}

.navbar {
   display: inline-block;
}

.navbar a {
   font-size: 2rem;
   color: var(--text);
   margin: 0 2rem;
   position: relative;
}

.navbar a::after {
   content: '';
   width: 0;
   height: 3px;
   background: var(--primary);
   position: absolute;
   left: 0;
   bottom: -5px;
   transition: 0.5s;
   display: block;
   opacity: 0.8;
   z-index: -1;
}

.navbar a:hover::after {
   width: 100%;
}

.navbar a.active::after {
   width: 100%;
}

#menu-icon {
   font-size: 3.6rem;
   color: var(--text);
   display: none;
}

/* Home section */
.home {
   display: flex;
   justify-content:space-around;
   align-items: center;
}

.home-content h3 {
   font-size: 3.2rem;
   font-weight: 700;
}

.home-content h3:nth-of-type(2) {
   margin-bottom: 2rem;
}

span {
   color: var(--primary);
}

.home-content h1 {
   font-size: 5.6rem;
   font-weight: 700;
   line-height: 1.3;
}

.home-content p {
   font-size: 1.6rem;
}

.home-img img {
   width: 20vw;
   border-radius: 20px;
   margin-bottom: 50%;
}

.home-gif {
   display: inline-block;
   /* cursor: pointer; */
   margin-left: 5rem;
}

.home-gif img {
   width: 10rem;
   height: auto;
}

.inline-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* @keyframes floatImage {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-2.4rem);
   }

   100% {
      transform: translateY();
   }
} */

.social-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;

   border-radius: 50%;
   font-size: 2rem;
   margin: 3rem 1.5rem 3rem 0;
   transition: .5s ease;
}

.social-media a .bxl-linkedin:hover {
   background-color: #0077B5;
   color: var(--background);
}

.social-media a .bxl-linkedin {
   border: .2rem solid #0077B5;
   color: #0077B5;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   transition: .5s ease;
}

.social-media a .bxl-github:hover {
   background-color: #fff;
   color: var(--background);
}

.social-media a .bxl-github {
   border: .2rem solid #fff;
   color: #fff;
   border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   background: transparent;
   transition: .5s ease;
}


.btn {
   display: inline-block;
   padding: 1.2rem 2.8rem;
   background: var(--accent);
   border-radius: 4rem;
   font-size: 1.6rem;
   color: var(--background);
   font-weight: 500;
   letter-spacing: .1rem;
   transition:  transform 0.3s;
}

.btn:hover {
   transform: scale(1.05);
}

/* About section */
.about {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   background: var(--secondary);
}

.about-img img {
   width: 35vw;
}

.contact-heading {
   text-align: center;
}

.heading {
   font-size: 4.5rem;
}

.contact-heading p {
   font-size: 1.5rem;
}

.about-content h2 {
   text-align: left;
   line-height: 1.2;
}

.about-content h3 {
   font-size: 2.6rem;
}

.about-content p {
   font-size: 1.6rem;
   margin: 2rem 0 3rem;
}


/* Projects section */
.projects {
   background: var(--background);
}

.projects h2 {
   margin-bottom: 4rem;
}

.projects-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   gap: 2.5rem;
}

.projects-container .projects-box {
   position: relative;
   border-radius: 2rem;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.projects-box-container {
   flex-direction: column;
}

.projects-box img {
   width: 100%;
}

.projects-box .projects-layer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to top, rgba(0, 0, 0, .4), var(--accent));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 4rem;
   opacity: 0;
   transition: opacity 0.4s;
}

.projects-box:hover .projects-layer {
   opacity: 1;
}

.projects-layer h4 {
   font-size: 3rem;
   color: var(--text);
}

.projects-layer p {
   font-size: 1.6rem;
   margin: .3rem 0 1rem;
   color: var(--text);
}

.projects-layer a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   background: var(--background);
   border-radius: 50%;
}

.projects-layer a i {
   font-size: 2rem;
   color: var(--text);
}

.projects-tags {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.tag {
   background: var(--accent);
   color: var(--primary);
   padding: 5px 10px;
   border-radius: 20px;
   font-size: 1.2em;
}

/* filter buttons in projects */
.filter-buttons {
   margin-bottom: 3rem;
   display: flex;
   gap: 10px;
}

.filter-btn {
   padding: 10px 20px;
   background: var(--primary);
   color: var(--accent);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: ease-in 0.1s;
}

.filter-btn.active {
   background: var(--accent);
   color: var(--text);
}

.filter-btn:hover {
   background: var(--accent);
   color: var(--text);
}


/* Contact section */
.contact h2 {
   margin-top: 5rem;
   margin-bottom: 3rem;
}

.contact form {
   max-width: 70rem;
   margin: 1rem auto;
   text-align: center;
   margin-bottom: 3rem;
}

.contact form .input-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
   width: 100%;
   padding: 1.5rem;
   font-size: 1.6rem;
   color: var(--text);
   background: var(--secondary);
   border-radius: .8rem;
   margin: .7rem 0;
}

.contact form textarea {
   resize: none;
}

.contact form .btn {
   margin-top: 2rem;
   cursor: pointer;
}

/* Footer section */
.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 2rem 9%;
   background: var(--footer);
}

.footer-text p {
   font-size: 1.2rem;
}

.footer-iconTop button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: .8rem;
   background: var(--accent);
   border-radius: .8rem;
   transition: transform 0.2s;
}

.footer-iconTop button:hover  {
   transform: scale(1.1);
}

.footer-iconTop button i {
   font-size: 2.4rem;
   color: var(--background);
}


/* Screen size */
@media (max-width: 1200px) {
   html {
      font-size: 55%;
   }
}

@media (max-width: 991px) {
   .header {
      padding: 2rem 3%;
   }

   section {
      padding: 10rem 3% 2rem;
   }

   .projects {
      padding-bottom: 7rem;
   }

   .contact {
      min-height: auto;
   }

   .footer {
      padding: 2rem 3%;
   }
}

@media (max-width: 768px) {
   #menu-icon {
      display: block;
   }

   .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--background);
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      display: none;
   }

   .navbar a {
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
   }

   .navbar.active {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--background);
      display: block;
   }

   .home {
      flex-direction: column;
   }

   .home-content h3 {
      font-size: 2.6rem;
   }

   .home-content h1 {
      font-size: 5rem;
   }

   .home-img img {
      width: 70vw;
   }


   .about {
      flex-direction: column-reverse;
   }

   .about img {
      width: 70vw;
      margin-top: 4rem;
   }


   .projects h2 {
      margin-bottom: 3rem;
   }

   .projects-container {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 617px) {
   .projects-container {
      grid-template-columns: 1fr;
   }
}


@media (max-width: 450px) {
   html {
      font-size: 50%;
   }

   .contact form .input-box input {
      width: 100%;
   }
}




/* Barry Section */
.barry-toggler {
   position: fixed;
   right: 40px;
   bottom: 35px;
   height: 50px;
   width: 50px;
   color: #fff;
   cursor: pointer;
   background: #4766a9;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease;
}

.barry-toggler:hover {
   transform: scale(1.1);
}

.show-chatbot .barry-toggler {
   transform: rotate(90deg);
}

.barry-toggler i {
   position: absolute;
   font-size: 3.2rem;
}

.show-chatbot .barry-toggler i:first-child,
.barry-toggler i:last-child {
   opacity: 0;
}

.show-chatbot .barry-toggler i:last-child {
   opacity: 1;
}

.chatbot {
   position: fixed;
   right: 40px;
   bottom: 100px;
   width: 420px;
   transform: scale(0.5);
   opacity: 0;
   pointer-events: none;
   overflow: hidden;
   background: #f8f8f8;
   border-radius: 15px;
   transform-origin: bottom right;
   box-shadow: 0 0 128px 0 rgba(0, 0, 0, .1),
               0 32px 64px -48px rgba(0, 0, 0, .5);

   transition: all 0.1s ease;
}

.show-chatbot .chatbot {
   transform: scale(1);
   opacity: 1;
   pointer-events: auto;
}

.chatbot header {
   background: #4766a9;
   padding: 16px 0;
   text-align: center;
   position: relative;
}

.chatbot header h2 {
   color: #fff;
   font-size: 2rem;
   letter-spacing: 2px;
}

.chatbot header i {
   position: absolute;
   right: 20px;
   top: 50%;
   color: #fff;
   cursor: pointer;
   transform: translateY(-50%);
   display: none;
   font-size: 3rem;
}

.chatbot .chatbox {
   height: 510px;
   overflow-y: auto;
   padding: 30px 20px 70px;
}

.chatbox .chat {
   display: flex;
}

.chatbox .barry i {
   height: 32px;
   width: 32px;
   color: #fff;
   background: #4766a9;
   text-align: center;
   line-height: 32px;
   border-radius: 4px;
   margin: 0 10px 7px 0;
   font-size: 25px;
   align-self: flex-end;
}

.chatbox .outgoing {
   margin: 20px 0;
   justify-content: flex-end;
}

.chatbox .chat p {
   color: #fff;
   font-size: 1.5rem;
   white-space: pre-wrap;
   max-width: 75%;
   padding: 12px 16px;
   border-radius: 10px 10px 0 10px;
   background: #4766a9;
}

.chatbox .barry p {
   color: #000;
   background: #e5e5e5;
   border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   gap: 5px;
   background: #fff;
   padding: 5px 20px;
   border-top: 1px solid #ccc;
}

.chat-input textarea {
   height: 55px;
   width: 100%;
   border: none;
   outline: none;
   font-size: 1.5rem;
   max-height: 180px;
   resize: none;
   padding: 16px 15px 16px 0;
}

.chat-input textarea:valid ~ i {
   visibility: visible;
}

.chat-input i {
   padding-top: 1.5rem;
   align-self: flex-end;
   height: 55px;
   color: #4766a9;
   font-size: 2.5rem;
   cursor: pointer;
   visibility: hidden;
}

@media(max-width: 490px) {
   .chatbot {
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
   }

   .chatbot .chatbox {
      height: 90%;
   }

   .chatbot header i {
      display: block;
   }
}

#msg-status {
   color: #61b752;
   margin-top: -20px;
   align-self: center;
   justify-content: center;
   display: flex;
   font-size: 16px;
}